.ProductItem__wrapper {
	background-color: #ffffff;
	text-align: left;
	padding: 0.5rem;
	margin-bottom: 2rem;
	border-radius: 0.2rem;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 0.1rem, rgba(0, 0, 0, 0.12) 0px 0.1rem 0.2rem;
}

.ProductItem__image {
	border-radius: 0.2rem 0.2rem 0 0;
	width: 100%;
}

.ProductItem__title {
	margin-top: 1rem;
	font-size: 1rem;
	font-weight: 400;
}

.ProductItem__title a {
	color: rgb(31, 31, 33);
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.ProductItem__title.single {
	font-size: 1.2rem;
	font-weight: 700;
}

.ProductItem__price {
	font-size: 0.8rem;
	font-weight: 700;
}

.ProductItem__price.single {
	font-size: 1rem;
	color: rgb(215, 60, 60);
}

.ProductItem__size-table {
	text-align: center;
}

.ProductItem__footer {
	padding: 0 0.5rem 0.5rem 0.5rem;
	display: flex;
	align-items: center;
	color: rgb(128, 128, 128);
}

.ProductItem__footer > div {
	font-size: 0.75rem;
}

.ProductItem__footer > div > span {
	font-weight: 700;
}

.ProductItem__footer > div > img {
	height: 1.2rem;
	margin-right: 0.25rem;
}

.ProductItem__footer-buttonArea {
	flex: 1;
	text-align: right;
}

.ProductItem__image-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #eee;
}

.loading-placeholder {
	display: block;
	position: relative;
	overflow: hidden;
	height: 1.2rem;
	background: #eee;
	width: 100%;
}

.loading-placeholder.md {
	width: 80%;
}

.loading-placeholder.sm {
	width: 50%;
}

.loading-placeholder.xs {
	width: 25%;
}
