.ProductItem__wrapper {
	background-color: #ffffff;
	text-align: left;
	padding: 0.5rem;
	margin-bottom: 3rem;
	border-radius: 0.2rem;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 0px 0.1rem, rgba(0, 0, 0, 0.12) 0px 0.1rem 0.2rem;
}

.ProductItem__image {
	margin-bottom: 1rem;
	border-radius: 0.2rem 0.2rem 0 0;
}

.ProductItem__title {
	font-size: 1.4rem;
	margin: 0 0.5rem 0.5rem 0.5rem;
	font-weight: 400;
}

.ProductItem__title a {
	color: rgb(31, 31, 33);
}

.ProductItem__price {
	font-weight: 700;
	margin: 0 0.5rem;
}

.ProductItem__wrapper hr {
	margin: 1rem 0.5rem;
}

.ProductItem__footer {
	padding: 0 0.5rem 0.5rem 0.5rem;
	display: flex;
	align-items: center;
	color: rgb(128, 128, 128);
}

.ProductItem__footer > div > span {
	font-weight: 700;
}

.ProductItem__footer > div > img {
	height: 1.8rem;
	margin-right: 0.5rem;
}

.ProductItem__footer-buttonArea {
	flex: 1;
	text-align: right;
}
