.App {
	text-align: center;
	background-color: rgb(245, 245, 245);
	padding-top: 5rem;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 80px;
}

.App-header {
	background-color: #222;
	height: 150px;
	padding: 20px;
	color: white;
}

.App-title {
	font-size: 1.5em;
}

.App-intro {
	font-size: large;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.square {
	position: relative;
	width: 100%;
}

.square:after {
	content: '';
	display: block;
	padding-bottom: 100%;
}

/* ------ */

.lds-ring {
	display: inline-block;
	position: relative;
	width: 44px;
	height: 44px;
}
.lds-ring div {
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: 31px;
	height: 31px;
	margin: 3px;
	border: 3px solid #dc3545;
	border-radius: 50%;
	animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
	border-color: #dc3545 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
	animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
	animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
	animation-delay: -0.15s;
}
@keyframes lds-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
