html {
	/* font-size: 10px; */
	background-color: rgb(245, 245, 245);
}

body {
	margin: 0;
	padding: 0;
	font-family: system, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial, Sans-serif;
	/* font-size: 1.4rem; */
	color: #4a4a4a;
	background-color: rgb(245, 245, 245);
}
